<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blaise Web Access</title>
    <link rel="stylesheet" href="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/css/main.css">
    <link rel="stylesheet" media="print" href="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/css/print.css">
    <meta name="theme-color" content="#206095"/>
    <!-- Favicons -->
    <meta name="msapplication-config"
          content="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/favicons/browserconfig.json">
    <link rel="icon" type="image/x-icon" href="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/favicons/favicon.ico">
    <link rel="icon" type="image/png" href="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/favicons/favicon-32x32.png"
          sizes="32x32">
    <link rel="icon" type="image/png" href="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/favicons/favicon-16x16.png"
          sizes="16x16">
    <link rel="mask-icon" href="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/favicons/safari-pinned-tab.svg"
          color="#000000">
    <link rel="apple-touch-icon" type="image/png"
          href="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="manifest" href="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/favicons/manifest.json">
</head>
<body>
<div class="page">
    <div class="page__content">
        <a class="skip__link" href="#main-content">Skip to main content</a>
        <header class="header " role="banner">
            <div class="header__top">
                <div class="container">
                    <div class="header__grid-top grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap ">
                        <div class="grid__col col-auto">
                            <a class="header__logo-link" href="/">
                                <picture>
                                    <source alt="Office for National Statistics logo"
                                            media="(max-width: 499px)"
                                            srcset="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/img/ons-logo-stacked-pos-en.svg">
                                    <img alt="Office for National Statistics logo"
                                         class="header__logo"
                                         src="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/img/ons-logo-stacked-pos-en.svg">
                                </picture>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__main">
                <div class="container">
                    <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                        <div class="grid__col col-auto u-flex-shrink">
                        {# TODO: Put the right name ! #}
                            <div class="header__title">Blaise Web Access</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="page__container container " style="min-height: calc(67vh)">
            <div class="grid">
                <div class="grid__col col-8@m">
                    <main id="main-content" class="page__main ">
                        <h1>Sorry, there is a problem</h1>
                        <p>To access this page you need to <a href="/">re-enter your access code</a>.</p>
                    </main>
                </div>
            </div>
        </div>
        {{ template "footer" }}
    </div>
</div>
</body>
</html>
