<!doctype html>
<html lang="en">
<head>
{{ template "head_imports" }}
</head>
<body>
<div class="page">
    <div class="page__content">
        <a class="skip__link" href="#main-content">Skip to main content</a>
        {{ template "header" }}
        <div class="page__container container " style="min-height: calc(67vh)">
            <div class="grid">
                <div class="grid__col col-8@m">
                    <main id="main-content" class="page__main ">
                        {{ if .error}}
                        <div aria-labelledby="error-summary-title" role="alert" tabindex="-1" autofocus="autofocus"
                             class="panel panel--error">
                            <div class="panel__header">
                                <h2 id="error-summary-title" data-qa="error-header" class="panel__title u-fs-r--b">
                                    There is a problem with this page
                                </h2>
                            </div>
                            <div class="panel__body">
                                <p class="">
                                    <a href="#uac" class="list__link js-inpagelink">{{ .error }}</a>
                                </p>
                            </div>
                        </div>
                        {{ end }}

                        <h1 class="u-mt-l">Start study</h1>
                        <form method="post" action="/auth/login">
                            <div class="panel panel--{{ if .error}}error{{else}}info{{end}} panel--no-title u-mb-s" id="uac">
                                <span class="u-vh">Important information: </span>
                                <div class="panel__body">

                                    {{ if .error}}
                                    <p class="panel__error">
                                        <strong>{{ .error }}</strong>
                                    </p>
                                    {{ end }}

                                    <div class="field question__answer">
                                        <label class="label  label--with-description " for="uac">
                                            {{if .uac16}}
                                                Enter your 16-digit access code
                                            {{else}}
                                                Enter your 12-digit access code
                                            {{end}}
                                        </label>
                                        <span id="description-hint" class="label__description  input--with-description">
                                            Keep this code safe. You will need to enter it every time you access your survey
                                        </span>
                                        <input type="hidden" name="_csrf" value="{{.csrf_token}}"/>
                                        <input type="text"
                                               id="uac"
                                               class="input input--text input-type__input uac__input js-uac u-mb-xs"
                                               name="uac"
                                               data-group-size="4"
                                               maxlength={{if .uac16}}"19"{{else}}"14"{{end}}
                                               autocomplete="off"
                                               autofocus
                                               autocapitalize="characters"
                                               aria-describedby="description-hint"/>
                                        <a class="u-fs-s" href="#">
                                            Where to find your access code
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel--bare u-mb-s">
                                    <span class="panel__icon u-fs-">
                                      <svg class="svg-icon" viewBox="0 0 10 13" xmlns="http://www.w3.org/2000/svg"
                                           focusable="false">
                                        <path d="M12.25,6h-.72V4.49a3.5,3.5,0,0,0-7,0V6H3.75A.77.77,0,0,0,3,6.75v6.5a.77.77,0,0,0,.75.75h8.5a.77.77,0,0,0,.75-.75V6.75A.77.77,0,0,0,12.25,6ZM5.54,4.49a2.5,2.5,0,1,1,5,0V6h-5ZM9,11.66a.3.3,0,0,1-.26.34H7.29A.29.29,0,0,1,7,11.69v0l.39-1.82a1,1,0,1,1,1.4-.18.77.77,0,0,1-.18.18Z"
                                              transform="translate(-3 -0.99)"/>
                                      </svg>
                                    </span>
                                <div class="panel__body">
                                    Your personal information is protected by law and will be kept confidential.
                                </div>
                            </div>
                            <div class="btn-group">
                                <button type="submit" type="submit" id="submit-btn"  class="btn btn-group__btn btn--loader js-loader js-submit-btn">
                                    <span class="btn__inner">Access survey
                                        {{ template "btn_loading_svg" }}
                                    </span>
                                </button>
                            </div>
                        </form>
                    </main>
                </div>
            </div>
        </div>
        {{ template "footer" }}
    </div>
</div>
</body>
</html>
