<!doctype html>
<html lang="en">
<head>
    {{ template "head_imports" }}
</head>
<body>
<div class="page">
    <div class="page__content">
        <a class="skip__link" href="#main-content">Skip to main content</a>
        {{ template "header" }}
        <div class="page__container container " style="min-height: calc(67vh)">
            <div class="grid">
                <div class="grid__col col-8@m">
                    <main id="main-content" class="page__main ">
                        <div class="panel panel--success panel--no-title u-mb-m">
                            <span class="u-vh">Completed: </span>
                            <span class="panel__icon u-fs-xl">
                                <svg class="svg-icon svg-icon--xl" viewBox="0 0 13 10" xmlns="http://www.w3.org/2000/svg"
                                     focusable="false">
                                    <path d="M14.35,3.9l-.71-.71a.5.5,0,0,0-.71,0h0L5.79,10.34,3.07,7.61a.51.51,0,0,0-.71,0l-.71.71a.51.51,0,0,0,0,.71l3.78,3.78a.5.5,0,0,0,.71,0h0L14.35,4.6A.5.5,0,0,0,14.35,3.9Z"
                                          transform="translate(-1.51 -3.04)"/>
                                </svg>
                            </span>
                            <div class="panel__body svg-icon-margin--xl">
                                <h1>Your progress has been saved</h1>
                            </div>
                        </div>
                        <div class="panel panel--warn panel--no-title u-mb-m">
                            <span class="panel__icon" aria-hidden="true">!</span>
                            <span class="u-vh">Warning: </span>
                            <div class="panel__body">
                                <p>Keep your 12-digit access code safe. You will need to enter it again to <a
                                        href="/">access your survey</a>.</p>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        {{ template "footer" }}
    </div>
</div>
</body>
</html>
