<!doctype html>
<html lang="en">
<head>
{{ template "head_imports" }}
</head>
<body>
<header class="header" role="banner">
    <div class="header__top">
        <div class="container">
            <div class="header__grid-top grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap ">
                <div class="grid__col col-auto">
                    <a class="header__logo-link" href="/">
                        <picture>
                            <source media="(max-width: 499px)"
                                    srcset="https://ons-design-system.netlify.app/img/ons-logo-stacked-neg-en.svg"
                                    alt="Office for National Statistics logo">
                            <img class="header__logo"
                                 src="https://cdn.ons.gov.uk/sdc/design-system/36.0.0/img/ons-logo-neg-en.svg"
                                 alt="Office for National Statistics logo">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="container">
            <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                <div class="grid__col col-auto u-flex-shrink">
                        {{/* TODO: Put the right name ! */}}
                    <div class="header__title">Blaise Web Access</div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="page__container container" id="main-content">
    <div class="grid">
        <div class="grid__col col-8@m">
            <main id="page-main-content" class="page__main ">
                <h1>Sorry, there is a problem with the service</h1>
                <p>Try again later.</p>
                <p>If you have started a survey, your answers have been saved.</p>
                <p><a href="#0">Contact us</a> if you need to speak to someone about your survey.</p>
        </div>
    </div>
</div>
</body>
</html>
