<!doctype html>
<html lang="en">
<head>
{{ template "head_imports" }}
</head>
<body>
{{ template "header" }}
<div class="page__container container" id="main-content">
    <div class="grid">
        <div class="grid__col col-8@m">
            <main id="page-main-content" class="page__main ">
                <h1>Sorry, there is a problem with the service</h1>
                <p>Try again later.</p>
                <p>If you have started a survey, your answers have been saved.</p>
                <p><a href="#0">Contact us</a> if you need to speak to someone about your survey.</p>
        </div>
    </div>
</div>
</body>
</html>
